<h1>
  {{title}}
</h1>

<textarea [(ngModel)]="input" (change)="pasted($event)"></textarea>
<div>{{output}}</div>
<hr>
Data:
<div *ngFor="let thread of threads">{{thread.threadName}} #{{thread.threadId}}<br/>
  <span>{{thread.threadState}}<br/></span>
  <div *ngIf="thread.lockName"><b>Lock: {{thread.lockName}} - owner: {{thread.lockOwnerName}} ({{thread.lockOwnerId}})</b><br/></div>
  <span *ngIf="thread.blockedTime > 0" class="blocked">BLOCKED - {{thread.blockedTime}} time units, {{thread.blockedCount}} block count<br/></span>
  <span *ngIf="thread.waitedTime > 0" class="waiting">WAITING - {{thread.waitedTime}} time units, {{thread.waitedCount}} wait count<br/></span>
  <span *ngIf="thread.isNative">IS NATIVE THREAD<br/></span>
  <span *ngIf="thread.suspended">SUSPENDED<br/></span>
  <span *ngFor="let trace of thread.stackTrace">
    {{trace.className}}.{{trace.methodName}}({{trace.fileName}}:{{trace.lineNumber}})
    <span *ngIf="trace.nativeMethod"><i>(native method)</i></span>
    <br/>
  </span>
  <hr>
</div>
